:root {
    --darklava: #493B2A;
    --darkpurple: #593F62;
    --lightpurple: #7B6D8D;
    --mutedblue: #8499B1;
    --babyblue: #A5C4D4;

}

/* * {
    border-style: dotted;
} */

header {
    background-color: var(--babyblue);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

body {
    background-color: var(--lightpurple);
}

#searchbar-field {
    min-width: 300px;

}

hr {
    min-width: 150px;
}

.city-search {
    margin-left: 35px;
    font-size: 25px;
    font-weight: bold;
}

.form-control {
    margin-bottom: 15px;
}

.both-sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    margin-left: 15px;
    padding-top: 10px;
}

.left-side {
    min-width: 300px;
}

li {
    list-style: none;
    font-size: large;
}

a:hover {
    background-color: var(--babyblue);
}

#search-history h4 {
    margin-left: 35px;
    font-weight: bold;
}

.right-side {
    min-width: 1000px;
    margin-right: 15px;
}

.hidden {
    display: none;
}

#current-weather {
    margin: 5px;
    padding: 15px;
    background-color: var(--mutedblue);
}

.card-header {
    background-color: var(--babyblue);
}

#future-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorable {
    background-color: lightgreen;
    width: fit-content;
}

.moderate {
    background-color: yellow;
    width: fit-content;
}

.severe {
    background-color: red;
    width: fit-content;
}